.catalog {
  margin: 66px 10px 0;
  max-width: 1000px;

  &__collection {
    font-family: Montserrat;
    font-size: 14px;
    text-align: center;
    margin: 0;
  }

  &__title {
    text-align: center;
    font-family: YesevaOne;
    margin: 16px 0 0; 
    font-size: 29.5px;
  }
  
  &__store, &__choosing {
    font-family: Montserrat;
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
    margin: 33px 0 0;
  }

  &__bolder {
    font-weight: 600;
  }
  &__choosing {
    margin: 16px 0 0;
  }

  &__dress-name {
    font-size : 0;
    margin: 12px 0 0;
    overflow: auto;
    white-space: nowrap;
  }

  &__name {
    padding: 10px 14px;
    margin: 0 5px 0 0;
    border-radius: 17px;
    border: solid 1px #000000;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 11px;
    display: inline-block;
    font-weight: 700;
    color: $main-text;
  }

  &__name--active {
    background-color: $pic;
    color: $doc;
    border: solid 1px $pic;
  }

  &__sale {
    font-family: Montserrat;
    font-size: 11px;
    text-align: center;
    line-height: 1.91;
    margin: 35px 0 0;
  }
  
  &__red-time {
    color: $price;
  }

  &__cards {
    font-size : 0;
    overflow: auto;
    white-space: nowrap;
  }

  &__card {
    margin: 26px 0 0; 
    display: inline-block;
    
    p {
      white-space: normal;
    }
  }
}

.card {
  width: 251px;
}

.card__pic {
  width: 251px;
  height: 335px;
}

.pic-1 {
  background: url('../img/scr2/scr2-image.jpg');
  background-size: cover;
}
.pic-2 {
  background: url('../img/scr2/coll-2.png');
  background-size: cover;
}
.pic-3 {
  background: url('../img/scr2/coll-3.png');
  background-size: cover;
}
.pic-4 {
  background: url('../img/scr2/coll-4.png');
  background-size: cover;
}
.pic-5 {
  background: url('../img/scr2/coll-5.png');
  background-size: cover;
}

.card__image {
  margin: 10px 0 0 10px;
}

.card__price {
  margin: 20px 0 0;
}

.card__old-price {
  font-family: Montserrat;
  font-size: 14px;
  text-decoration: line-through;
}
.card__new-price {
  font-family: Montserrat;
  font-size: 14px;
  color: $price;
  font-weight: 600;
}
.card__dress-name {
  font-family: Montserrat;
  font-size: 14px;
  margin: 10px 0 0;
  text-decoration: underline;
}
.card__btn-more {
  padding: 10px 15px;
  border-radius: 17px;
  border: solid 1px #000000;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 500;
  display: inline-block;
  margin: 16px 0 0;
  text-decoration: none;
  color: $main-text;
}



