.header {
  margin: 0 10px;
  // max-width: 300px;
  
  &-scr1 {
    margin-top: 13px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    // height: 22px;
  }

  &-scr1__logo {
    margin: 0 auto;
    cursor: pointer;
  }

  &-scr1__plug {
    // margin-left: 10px;
    width: 23px;
  }

  &-scr1__to-call {
    // margin-right: 10px;
    margin-top: 3px;
    cursor: pointer;
  }

  &__video {
    background: url("../img/scr1/main-image.png") 0 0 no-repeat;
    height: 227px;
  }
}

.hidden-aria:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav {
  width: 100%;
}

.nav__toggle {
  position: absolute;
  top: 3px;
  left: 0px;
  z-index: 2;

  display: block;
  width: 23px;
  height: 17px;

  background-color: $doc;

  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    background-color: $pic;
  }
}

.nav--closed .nav__toggle::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 0px;

  width: 23px;
  height: 2px;

  background-color: #000;
  box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
}

.nav--closed .nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.nav--opened .nav__toggle {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 7px;
    left: 0px;

    width: 23px;
    height: 2px;

    background-color: #000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.nav__list {
  margin: 20px;
  padding: 0;

  list-style: none;
}

.list a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;

  font-size: 18px;
  line-height: 24px;
  color: $main-text;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $doc;
  border-top: 1px solid $pic;
  border-bottom: 1px solid $price;
}

@media (max-width: $mobile) {
 
  .nav--closed .list__item {
    display: none;
  }
  
  .nav--opened {
    .nav__wrapper {
      position: static;
    }
  }
  
  .nav--nojs .nav__toggle {
    display: none;
  }
  
  .nav--nojs .nav__wrapper {
    position: static;
    min-height: 0;
  }

  .nav--nojs .list__item {
    display: block;
  }
}


.header__title {
    // width: 296px;
    // height: 21px;
    margin: 8px 0 0;
    // margin-top: 8px;
    font-family: Montserrat;
    font-size: 8px;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    color: $main-text;  
}
.header__discont {
  margin: 20px 0 0;
  font-family: YesevaOne;
  font-size: 40px;
  text-align: center;
  color: $main-text;
}
.header__dresses {
  margin: 7px 0 0;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 1.75;
  text-align: center;
  color: $main-text;
}
.header__video {
}
.header__tagline {
}
.header__btn-choice {
}
.header__scroll-bellow {
}
.header__down-image {
}
.header__trigger {
}
.trigger {
}
.trigger__image {
}
.trigger__title {
}
.trigger__desribe {
}