@import "node_modules/normalize-scss/sass/normalize/import-now";
// @import "fonts";
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
@import "mixins";
@import "fonts";
@import "variables";

@import "header";
@import "catalog";